@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap'); 

*{
     margin: 0; 
     padding: 0;
     box-sizing: border-box; 
     font-family: "Playfair", serif; 
    } 


body{
     background-color:#19191b; 
     color: #b79a7c; 
    } 


header{
     width: 100%; 
     height: 80px;
     display: flex; align-items: 
     center; justify-content: center; 
     background-color: #19191b; 
     border-bottom: 1px solid #b79a7c; 
     
    .header{
         width: 90%; 
         display: flex; 
         justify-content: space-between; 
         align-items: center; 
         
    .logo{
         width: 180px; 
         height: 70px; 
         background-image: url("./WhatsApp\ Image\ 2026-01-12\ at\ 5.15.24\ PM.jpeg"); 
         background-size: cover; 
         background-position: center; 
        } 
        
    .nav{ 
        a{
         margin-left: 20px; 
         text-decoration: none; 
         color: #b79a7c; 
         font-weight: 500; 
         transition: 0.3s; 
         gap: 3rem; 
        } 
        } 
    }
}


#hero {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #b79a7c;

  .section {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    .img, .photo, .pho {
      width: 30%;
      height: 700px;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      animation: pulse 5s infinite alternate;
    }

    .img {
      background-image: url("./WhatsApp Image 2026-01-12 at 6.13.29 PM.jpeg");
    }

    .photo {
      background-image: url("./WhatsApp Image 2026-01-12 at 6.13.30 PM.jpeg");
    }

    .pho {
      background-image: url("./WhatsApp Image 2026-01-12 at 6.06.54 PM.jpeg");
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.6); 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      text-align: center;
      padding: 1rem;
      border-radius: 10px;

      .h1 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
      }

      .p {
        font-size: 1.5rem;
      }
    }
  }

  /* ===== Responsive Hero ===== */
  @media(max-width: 768px) {
    height: auto;

    .section {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .img, .photo, .pho {
        width: 90%;
        height: 250px;
        margin-bottom: 20px;
      }
    }

    .overlay .h1 {
      font-size: 2rem;
    }

    .overlay .p {
      font-size: 1.2rem;
    }
  }
}


#about{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #b79a7c;

  .aboutt{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    .img1, .photo1, .pho1 {
      width: 30%;
      height: 700px;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      animation: pulse 5s infinite alternate;
    }

    .img1{
      background-image: url("./WhatsApp\ Image\ 2026-01-12\ at\ 4.09.00\ AM.jpeg");
    }

    .photo1{
      background-image: url("./WhatsApp\ Image\ 2026-01-13\ at\ 4.01.40\ PM.jpeg");
    }

    .pho1{
      background-image: url("./WhatsApp\ Image\ 2026-01-12\ at\ 3.58.16\ AM.jpeg");
    }

    .overlay1{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5); 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      text-align: center;
      padding: 1rem;
      border-radius: 10px;
      line-height: 2rem;
      .h2{
        font-size: 3rem;
        margin-bottom: 0.5rem;
      }

      .p{
        font-size: 2rem;
        
      }
    }
  }

  
  @media(max-width: 768px) {
    height: auto;

    .about{
      flex-direction: column;
      align-items: center;
      text-align: center;
      

      .img1, .photo1, .pho1 {
        width: 90%;
        height: 250px;
        margin-bottom: 20px;

      }
    }

    .overlay .h1 {
      font-size: 2rem;
    }

    .overlay .p {
      font-size: 1.2rem;
    }
  }
}



/* #services {
  width: 100%;
  min-height: 100vh;
  padding: 4px 150px;
  border-bottom: 1px solid #b79a7c;
  display: flex;
  align-items: center;
  justify-content: center;

  .center {
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .top {
      width: 50%;
      border-radius: 10px;
      margin-bottom: 2rem;
      line-height: 2rem;
      font-size: 18px;
    }

    .botton {
      width: 40%;
      height: 700px;
      background-image: url("./WhatsApp Image 2026-01-12 at 3.58.15 AM2.jpeg");
      background-size: cover;
      background-position: center;
      animation: pulse 5s infinite alternate;
      border-radius: 10px;
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 768px) {
    padding: 20px;

    .center {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .top {
       order: 1;
      width: 100%;
      max-width: 90%;
      font-size: 30px;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }

    .botton {
        order: 2;
      width: 100%;
      max-width: 90%;
      height: 260px;
      max-height: 90%;
      margin-bottom: 1.5rem;
    }
  }
} */



.menu{
  background-color: #19191b;
  padding: 80px 8%;
  font-family: "Playfair", serif;
  color: #fff;


.menu h2{
  text-align: center;
  color: #b79a7c;
  margin-bottom: 60px;
  font-size: 38px;
}

.menu-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.menu-card{
  background-color: #1f1f22;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(183,154,124,0.15);
  transition: 0.4s ease;
}

.menu-card h3{
  color: #b79a7c;
  margin-bottom: 15px;
  font-size: 24px;
  border-bottom: 1px dashed #b79a7c;
  padding-bottom: 5px;
}

.menu-item{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; 
  gap: 10px;
  padding: 8px 0;
  border-bottom: 1px dashed #444;
  align-items: center;
}

.menu-item span.drink-name{
  color: #b79a7c;
  font-weight: bold;
}

.menu-item span.size{
  color: #f5f5f5;
  text-align: center;
  font-weight: bold;
}

.menu-card:hover{
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(183,154,124,0.4);
}

/* Responsive */
@media (max-width:768px){
  .menu-card{
    width: 100%;
  }
}

}


#contact{
  padding: 80px ;
  text-align: center;
  font-size: large;
  line-height: 2rem;
}


footer{
    background-color: black;
  padding: 30px 10%;
  text-align: center;
  border-top: 1px solid #b79a7c;
  margin-top: 50px;
  font-size: large;



.socials a{
  text-decoration: none;
  color: #b79a7c;
  margin: 0 5px;


  a{
  color: #fff;
}
}

@media (max-width: 768px){
  .section, .menu-items, #about{
    flex-direction: column;
    align-items: center;
  }

  .img, .photo, .item img, #about img{
    width: 90%;
    height: 250px;
    margin-bottom: 20px;
  }
}
}